{% extends "network/layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}

<section class="p-4 h-100 d-flex flex-column gap-2 align-items-center justify-content-center">
    <form class="bg-primary-clr rounded shadow-sm rounded-2 p-4 d-flex flex-column gap-2" action="{% url 'login' %}"
        method="post" style="width: min(400px, 90%);">
        <h2 class="text-primary-emphasis text-center">Login</h2>
        {% csrf_token %}
        {% if message %}
        <div class="alert alert-warning d-flex align-items-center gap-2" role="alert">
            <i class="fas fa-exclamation-circle"></i>
            <div>{{ message }}</div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input autofocus class="form-control" type="text" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" name="password" id="password">
        </div>
        <input class="btn btn-accent mt-3" type="submit" value="Login">
        <small class="text-center">Don't have an account? <a class="text-accent" href="{% url 'register' %}">Register
                here.</a></small>
    </form>
</section>

{% endblock %}