{% extends "core/base.html" %}

{% block title %}Change Password{% endblock %}

{% block body %}

<section class="p-4 h-100 d-flex flex-column gap-2 align-items-center justify-content-center">
	<form class="bg-primary-clr rounded shadow-sm rounded-2 p-4 d-flex flex-column gap-2"
		action="{% url 'accounts:change-password' %}" method="post" style="width: min(400px, 90%);">
		<h2 class="text-primary-emphasis text-center">Change Password</h2>
		{% csrf_token %}
		<p class="text-secondary text-center">
			<small>For security, please verify your current password before creating a new one.</small>
		</p>
		<div class="form-group">
			<label for="old-password" class="form-label">Current Password</label>
			<input class="form-control" type="password" name="old-password" id="old-password">
		</div>
		<div class="form-group">
			<label for="new-password" class="form-label">New Password</label>
			<input class="form-control" type="password" name="new-password" id="new-password">
		</div>
		<input class="btn btn-accent mt-3" type="submit" value="Update Password">
	</form>
</section>

{% endblock %}